* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.topnav {
  /*background-color: cornflowerblue;*/
  color:goldenrod;
  display:flex; /* zorg dat je kan doen wat je wil met je layout */
  justify-content:center;
  gap: 3rem; /*gap between*/
  padding: 0 2rem; /*edges of screen*/



}

.pageLink {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  
}