* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.ContentOfPage{
  width: 95%;
  justify-content: center;
  align-items: center;
  margin:auto;
  text-align: center;
}

.topnav {
  color:goldenrod;
  display:flex; /* zorg dat je kan doen wat je wil met je layout */
  justify-content:center;
  gap: 3rem; /*gap between*/
  padding: 0 2rem; /*edges of screen*/
}

.pageLink {
  color: goldenrod;
  text-decoration: none;
  font-size: 2rem;
}

.col-md-4{
  display:flex;
  align-items: stretch;
}


.Register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitbutton {
  margin-top: 10%;
}