#register {
    position:fixed;
    width:100%;
    height:100%;
    background-image: url(/public/registerbg.jpeg);
    background-size: cover;
  }

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
}
