* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.ContentOfPage{
  width: 95%;
  justify-content: center;
  align-items: center;
  margin:auto;
  text-align: center;
}

.col-md-4{
  display:flex;
  align-items: stretch;
}

.title {
  margin-top: 2%;
  text-align: center;
}


.submitbutton {
  margin-top: 10%;
}