.topnav {
  color:goldenrod;
  display:flex; /* zorg dat je kan doen wat je wil met je layout */
  justify-content:center;
  gap: 3rem; /*gap between*/
  padding: 0 2rem; /*edges of screen*/
}

.pageLink {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}

.bg-dark{
  background-color: midnightblue !important; /* I know !important should be avoided, but they use an important! for their bg-dark so mine was not showing*/
}

a.pageLink.nav-link.active{
  background-color: goldenrod;
}






